.testimonials {
  display: flex;
  /* margin-top: 7%; */
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-image: url(../section1/adadad.jpg);
  backdrop-filter: brightness(0.2);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.bac-testimonials {
  background: #0000008a;
  height: 100%;
  width: 100%;
  padding-top: 60px;
}

.text-continer-testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* text-align: center; */
  height: 100%;
  gap: 20px;
  /* margin-bottom: 80px; */
  margin-left: 12%;
  margin-right: 10%;
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .text-continer-testimonials {
    margin-left: 5%;
  }
}
@media only screen and (min-width: 300px) and (max-width: 576px) {
  .text-continer-testimonials {
    margin-left: 0;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .text-continer-testimonials {
    margin-left: 5%;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .text-continer-testimonials {
    margin-left: 5%;
    flex-wrap: wrap;
  }
}
.text-testimonials {
  margin-bottom: 5%;
  transition: all 1.3s;
}
@media only screen and (min-width: 300px) and (max-width: 576px) {
  .text-testimonials {
    padding-right: 11px;
    padding-left: 10px;
  }
}
.testimonials-h3 {
  margin-bottom: -25px;
}

.testimonials-h3 h3 {
  font-size: 18px;
  color: var(--main-color);
}

.testimonials-h1 {
  margin: 0 0 -15px;
}

.testimonials-h1 h1 {
  font-size: 55px;
  color: var(--primary-text-color);
}

.testimonials-p {
  width: 100%;
  padding-bottom: 20px;
  /* margin: 0px 73px 20px; */
}

.testimonials-p p {
  color: var(--primary-p-color);
  font-size: 16px;
}

.btn-testimonials {
  width: 250px;
  height: 56px;
  background: var(--main-color);
  border: 3px solid var(--main-color);
  margin-top: 15px;
  transition: all 0.4s ease-in-out;
}
.btn-testimonials:hover {
  transform: translate(0px, -10px);
  background: none;
}
.btn-testimonials a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-testimonials a span {
  font-size: 18px;
}

/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */
/* ---------------------------- */
.big-continer-testimonials {
  width: 135%;
  height: 260px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.continer-testimonials {
  width: 480px;
  height: 92%;
  margin-bottom: 2%;
  /* display: flex; */
  /* background: var(--background); */
  padding: 1px 20px 25px 30px;
  backdrop-filter: brightness(0.3);
}
@media only screen and (min-width: 300px) and (max-width: 576px) {
  .continer-testimonials {
    width: 97%;
    height: 90%;
  }
}

.box1-testimonials {
}

.text-box-testimonials {
  margin: 32px 0;
}

.text-box-testimonials p {
  font-size: 16px;
  color: var(--primary-p-color);
  margin: 2em 0em 2em 0em;
  line-height: 1.3;
}

.box-image-testimonials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.img-testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-testimonials img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 20px 0 0;
}

.img-testimonials .min-text-testimonials {
  width: 60%;
}

.img-testimonials .min-text-testimonials strong {
  font-size: 18px;
  color: var(--primary-text-color);
  transition-duration: 1s;
}

.img-testimonials .min-text-testimonials strong:hover {
  font-size: 18px;
  color: var(--main-color);
}

.img-testimonials .min-text-testimonials span {
  font-size: 13px;
  color: var(--main-color);
}

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

.icon-testimonials {
  width: 48px;
  height: 48px;
}

.icon-testimonials i {
  font-size: 48px;
  color: var(--main-color);
}

.po1 {
  animation: le 2.2s backwards;
  transition-duration: 1s;
}

.po2 {
  animation: le 2.2s backwards;
  transition-duration: 1s;
}

@keyframes le {
  100% {
    position: relative;
    top: -100%;
  }
  50% {
    position: relative;
    top: -50%;
  }
}
